# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "Dev Log"
email:
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
twitter_username: username
github_username: username
url: "https://kb0129.github.io" # the base hostname & protocol for your site
baseurl: "" # the subpath of your site, e.g. /blog
search_enabled: true

# Build settings
markdown: kramdown
remote_theme: just-the-docs/just-the-docs
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  # - jemoji
  - jekyll-include-cache
  - jekyll-remote-theme

# Just the Docs settings
# See https://just-the-docs.com/docs/configuration/
color_scheme: dark

# Search
search_enabled: true
search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 3, default is 2
  heading_level: 2
  # Pre-fetch search data
  pre_fetch: false
  # Search all tokens
  tokenize_non_english: false

# Aux links
aux_links:
  "GitHub":
    - "//github.com/KB0129/KB0129.github.io"

# Footer content
# appears at the bottom of every page's main content
footer_content: "Copyright &copy; 2025 Kyungbin Lee. Powered by <a href=\"https://jekyllrb.com/\">Jekyll</a> & <a href=\"https://just-the-docs.com/\">Just the Docs</a>."

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: default
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: default
